
.help-section {

    .help-title {
        margin-bottom: 2rem;
    }

    .cards-container {
        margin: 0 auto;
        max-width: 1200px;
    }

    .help-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .help-card {
        padding: 0.8rem 0.6rem;
        border-radius: 8px;
        margin: 0.8rem;
        max-width: 292px;;
    }

    .card-inner-border {
        height: 362px;
        padding: 1.2rem 0.8rem;
        border: 3px solid white;
        border-radius: 8px;
    }

    .card-items {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .help-card-title {
        margin-bottom: 0.4rem;
        font-weight: 400;
    }

    .card-info {
        margin-bottom: 2.2rem;
    }

    .line {
        height: 2px;
        width: 120px;
        background: white;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .help-icon {
        width: 60px;
        margin-bottom: 2rem;
    }

    .card-button {
        display: inline-block;
        background: white;
        width: 130px;
        padding: 0.8rem 0.5rem;
        border-radius: 4px;
    }

    .card-button:hover {
        text-decoration: none;
        color: white;
    }

    .donation-card {
        background: #B39C4D;
    }

    .donate-button {
        color: #B39C4D;
    }

    .donate-button:hover {
        background: #938040;
    }

    .calendar-card {
        background: #23748B;
    }

    .calendar-button {
        color: #23748B;
    }

    .calendar-button:hover {
        background: #1D5F72;
    }

    .event-card {
        background: #C12626;
    }

    .event-button {
        color: #C12626;
    }

    .event-button:hover {
        
        background-color: #9E2020;
    }
}

@media(min-width: 600px) {
    .help-section {

        .help-title {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}