
.help-section {

    .help-title {
        margin-bottom: 2rem;
    }

    .help-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .help-card {
        padding: 0.8rem 0.6rem;
        border-radius: 8px;
        margin: 0.8rem;
        max-width: 292px;;
    }

    .card-inner-border {
        height: 362px;
        padding: 1.2rem 0.8rem;
        border: 3px solid #CDEDF6;
        border-radius: 8px;
    }

    .card-items {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .help-card-title {
        margin-bottom: 0.4rem;
        font-weight: 400;
    }

    .card-info {
        margin-bottom: 2.2rem;
    }

    .line {
        height: 2px;
        width: 120px;
        background: white;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .help-icon {
        width: 60px;
        margin-bottom: 2rem;
    }

    .card-button {
        display: inline-block;
        background: #CDEDF6;
        width: 130px;
        padding: 0.8rem 0.5rem;
        border-radius: 4px;
    }

    .donation-card {
        background: #29BF12;
    }

    .donate-button {
        color: #29BF12;
    }

    .calendar-card {
        background: #042A2B;
    }

    .calendar-button {
        color: #042A2B;
    }

    .event-card {
        background: #EF6221;
    }

    .event-button {
        color: #EF6221;
    }
}