
.missions-section {
    width: 100%;
    padding-bottom:2.6rem;
    .missions-section-container {
        max-width: 1100px;margin: 0 auto;
    }
    
    

    .missions-title {
        margin-bottom: 4rem;
    }

    .fa-hands-helping {
        width: 3rem;
        margin-right: 5rem;
        color: grey;
        // display: none;
    }

    .fa-plus-circle {
        width: 2.5rem;
        margin-right: 5rem;
        color: red;
    }
    
    .fa-globe-americas {
        width: 2.2rem;
        color: #37b5da;
    }

    
    .doctor-child-image {
        display: none;
        max-width: 550px;
    }

    .see-missions {
        font-size: 1.5rem;
        color: white;
        line-height: 1;
    }

    .mission-info {
        margin-bottom: 2rem;
        margin-top: 2rem;
        line-height: 1.5;
    }

    .see-missions-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 0 auto;
        background: #37B5DA;
        width: 160px;
        padding: 1rem 0;
        border-radius: 10px;
    }

    
}
    

@media(min-width: 900px) {

    .missions-section {

        .missions-title {
            margin-top: 4rem;
        }
        .doctor-child-image {
            display: block;
            width: 40vw;
        }
    }

    .mission-container {
        display: flex;
    }

    
}

