.about-us-header {
    margin: 1rem;
    
    .origin-container {
        display: flex;
    }

    .group-photo {
        width: 50%;
        align-self: center;
    }

    .origin-txt-box {
        margin: 0 2%;
    }
}