/*** Variables ***/

/*** Styles ***/

.home-footer {

    .contact-form-title {
        margin-bottom: 2rem;
    }

    .follow-us-title {
        margin-bottom: 2rem;
    }

    .fa-facebook-f {
        background: #516fa3;
    }

    .fa-facebook-f:hover {
        color: #516fa3;
        border-color: #516fa3;
    }

    .fa-twitter {
        background: #4db8ed;
    }

    .fa-twitter:hover {
        color: #4db8ed;
        border-color: #4db8ed;
    }

    .fa-instagram {
        background: #444;
    }

    .fa-instagram:hover {
        color: #444;
        border-color: #444;
    }

    // .social-icons-container {
    //     margin: 0 auto;
    // }

    .social-icon {
        width: 40px;
        height:40px;
        padding: 8px;
        color: white;
        border-radius: 30px;
        overflow: visible;
    }
    
    .social-icon:hover {
        background: white;
        border-style: solid;
        border-width: 2px;
        padding:6px;
    }

    .social-icons {
        display: flex;
        justify-content: space-around;
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    
}


.contact-form {

    max-width: 440px;
    margin: 0 auto;

    textarea:focus, input:focus{
        outline: none;
    }

    .small-label {
        margin-left: 7%;
        margin-bottom: 0.4rem;
    }

    .name, .email {
        height: 3.375rem;
    }

    .message {
        height: 8.125rem;
        max-height: 300px;
    }

    .contact-input {
        width: 90%;
        border-radius: 12px;
        box-shadow: none;
        border: 1px solid grey;
        padding: 4px 5px;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-button {
        background: #23748B;
        color: white;
        border: none;
        width: 190px;
        padding: 0.9rem 0;
        margin-bottom: 4rem;
        margin-top: 1.3rem;
        text-align: center;
    }

    .contact-button:hover {
        background-color: #14404C;
    }
}