/*
* Includes:
*   - color
*   - background-color
*/

/*** Variables ***/
$light-blue: #37b5da;
$green: #29BF12;
/*** Styles ***/

// .acronym {
//     color: #EF6221;
// }

.goals-section {
    color: white;

}

.help-section {

    .help-cards {
        color: white;
    }

}