/*
* Includes:
*   - font-family
*   - font-style
*   - font-weight
*   - font-size
*   - text-decoration
*   - line-height
*/

/*** Variables ***/

/*** Styles ***/

body {
    font-family: 'Raleway', sans-serif;
}

.main-title {
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    // font-family: 'Merriweather', serif;
    // font-family: 'PT Serif', serif;
    // width: 300px;
}

.acronym {
    font-size: 2.8rem;
}

// .letter-I {
//     margin-left: 14px;
// }